* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: playfairdisplay;
    src: url(/fonts/PlayfairDisplay-VariableFont_wght.ttf);
}


@media screen and (max-width: 391px ) {
        body {
            background: linear-gradient(180deg, #e6e6fa, #ffffff) ;
        }
        
        .forsidelogo {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 50px;
            height: 60px;
            margin: auto; /* Centrerer containeren horisontalt */
            padding-bottom: 10px;
        }
        /* Reset for margin/padding */

/* Skjul checkboxen */
.burger-checkbox {
    display: none;
}

/* Styling af burgerikonet */
.burger {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    margin: 10px;
}

.line {
    height: 3px;
    background-color: #da7897; /* Farve på linjerne */
    margin: 5px 0;
    border-radius: 2px; /* Runding af hjørner */
}

/* Styling af menuen */
.menu {
    display: none; /* Skjul menuen som standard */
    background-color: #da7897;
    position: absolute;
    top: 90px; /* Placer menuen nedenfor burgerikonet */
    right: 0;
    width: 100%;
    text-align: left;
    font-family: playfairdisplay;
}

.menu ul {
    list-style: none;
}

.menu ul li {
    padding: 15px;
}

.menu ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    display: block;
}

/* Vis menuen, når checkboxen er markeret */
.burger-checkbox:checked + .burger + .menu {
    display: block;
}

h2 {
    text-align: center;
    font-size: 1.2rem;
    font-family: playfairdisplay;
    padding-bottom: 1rem;
}

header {
    padding: 30px;
}

hr {
    border-color: #da7897; 
}


.beloeb {
    border: solid #da7897;
    font-family: playfairdisplay;
    text-align: center;
    border-radius: 24px;
    padding: 1.5rem;
    margin-bottom: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

#amount {
    text-decoration: none;
}

.antal {
    border: solid #da7897;
    font-family: playfairdisplay;
    text-align: center;
    border-radius: 24px;
    padding: 1.5rem;
    margin-bottom: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.koeb {
    border: solid #da7897;
    font-family: playfairdisplay;
    text-align: center;
    border-radius: 24px;
    padding: 1.5rem;
    margin-bottom: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.koebbox {
    display: flex;
    justify-content: space-around;
}

.imgbox {
    position: relative;
    width: 275px;
    height: 275px;
    margin-bottom: 3rem;
}

.dealsimg {
    border-radius: 44px;
    position: absolute;
    top: 2.33%;
    left: 24%;
    width: 91%;
    height: 103%;
    z-index: 1;
    object-fit: cover;
}

.footerbox {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 3rem;
}

.aabningstider {
    margin-top: 2rem;
    margin-bottom: 2rem;
    line-height: 2rem;
    text-align: center;
}

.kontaktmig {
    line-height: 2rem;
    text-align: center;
}

.roundlogo {
    margin-bottom: 2rem;
    display: none;
}

.instagramlogo {
    width: 2rem;
    height: 2rem;
    margin-right: 1rem;
}

.facebooklogo {
    width: 2rem;
    height: 2rem;
}

.logoer {
    display: flex;
    justify-content: center;
}
}

@media screen and (min-width: 392px) {
    * {
        font-family: playfairdisplay;
    }

        body {
            background: linear-gradient(135deg, #e6e6fa, #ffffff) ;
        }
        
        .forsidelogo {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100px;
            height: 130px;
            margin: auto; /* Centrerer containeren horisontalt */
            padding-bottom: 10px;
        }
        /* Reset for margin/padding */

/* Skjul checkboxen */
.burger-checkbox {
    display: none;
}


.menu ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.menu ul li {
    padding: 15px;
}

.menu ul li a {
    color: black;
    text-decoration: none;
    font-size: 1.5rem;
}

/* Vis menuen, når checkboxen er markeret */
.burger-checkbox:checked + .burger + .menu {
    display: block;
}

header {
    padding: 30px;
}

hr {
    border-color: #da7897;
}

h2 {
    font-family: playfairdisplay;
}

header {
    padding: 30px;
}

hr {
    border-color: #da7897;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 3rem;
}

.shoppunkter {
    display: flex;
    align-content: center;
    flex-direction: column;
    margin-right: 4rem;
}

.beloeb {
    border: solid #da7897;
    font-family: playfairdisplay;
    text-align: center;
    font-weight: bold;
    border-radius: 24px;
    padding: 6rem;
    margin-bottom: 1.2rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

span {
    font-size: 2rem;
}

label {
    font-size: 2rem;
}

#amount {
    text-decoration: none;
}

.antal {
    border: solid #da7897;
    font-family: playfairdisplay;
    text-align: center;
    font-weight: bold;
    border-radius: 24px;
    padding: 5rem;
    margin-bottom: 1.2rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

input {
    font-size: 1.5rem;
}

.koeb {
    border: solid #da7897;
    font-family: playfairdisplay;
    text-align: center;
    font-weight: bold;
    border-radius: 24px;
    padding: 1rem;
    margin-bottom: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.koebbox {
    display: flex;
    justify-content: space-around;
}

.imgbox {
    position: relative;
    width: 275px;
    height: 275px;
    margin-top: -10rem;
}

.dealsimg {
    border-radius: 44px;
    position: absolute;
    top: -178.67%;
    left: 45%;
    width: 180%;
    height: 225%;
    z-index: 1;
    object-fit: cover;
}

h2 {
    text-align: center;
    font-size: 1.5rem;
    font-family: playfairdisplay;
    padding-bottom: 1rem;
}

p {
    font-size: 1.2rem;
}

.footerhr {
    margin-bottom: 2rem;
}

.footerbox {
    display: flex;
    justify-content: space-between;
    margin: 2rem;
    flex-direction: row;
}

.socialmediabox {
    display: flex;
    align-content: center;
    flex-direction: column;
    justify-content: center;
    font-size: 1.5rem;
}

.instagramlogo {
    width: 5rem;
    height: 5rem;
    margin-right: 1rem;
    margin-top: 2rem;
}

.facebooklogo {
    width: 5rem;
    height: 5rem;
    margin-top: 2rem;
}

.logoer {
    display: flex;
    justify-content: center;
}

.aabningstider {
    display: flex;
    flex-direction: column;
    line-height: 2rem;
}

.kontaktmig {
    display: flex;
    flex-direction: column;
    line-height: 2rem;
}
}


