* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
@font-face {
    font-family: playfairdisplay;
    src: url(/fonts/PlayfairDisplay-VariableFont_wght.ttf);
}


@media screen and (max-width: 391px ) {
        body {
            background: linear-gradient(180deg, #d0fcff, #ffffff) ;
        }
        
        .forsidelogo {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 50px;
            height: 60px;
            margin: auto; /* Centrerer containeren horisontalt */
            padding-bottom: 10px;
        }
        /* Reset for margin/padding */

/* Skjul checkboxen */
.burger-checkbox {
    display: none;
}

/* Styling af burgerikonet */
.burger {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    margin: 10px;
    align-items: right;
}

.line {
    height: 3px;
    background-color: #da7897; /* Farve på linjerne */
    margin: 5px 0;
    border-radius: 2px; /* Runding af hjørner */
}

/* Styling af menuen */
.menu {
    display: none; /* Skjul menuen som standard */
    background-color: #da7897;
    position: absolute;
    top: 90px; /* Placer menuen nedenfor burgerikonet */
    right: 0;
    width: 100%;
    text-align: left;
    font-family: playfairdisplay;
}

.menu ul {
    list-style: none;
}

.menu ul li {
    padding: 15px;
}

.menu ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    display: block;
}

/* Vis menuen, når checkboxen er markeret */
.burger-checkbox:checked + .burger + .menu {
    display: block;
}
h2 {
    font-family: playfairdisplay;
}
header {
    padding: 30px;
}
hr {
    border-color: #da7897;
    
}
.infotext {

    font-size: 1rem;
    text-align: justify;
    line-height: 1.8rem;
    padding-left: 3rem;
    padding-right: 3rem;
}

.inforhr{
    display: none;
}
h2 {
    text-align: center;
    font-size: 1.2rem;
    font-family: playfairdisplay;
    padding-bottom: 1rem;
}
.runimages {
    position: relative;
    width: 275px;
    height: 275px;
}
.run{
    border-radius: 34px;
    position: absolute;
    top: 35.33%;
    left: 71%;
    width: 64%;
    height: 68%;
    z-index: 2;
    object-fit: cover;
}

.run2 {
    border-radius: 34px;
    position: absolute;
    top: 19%;
    left: 8%;
    width: 69%;
    height: 71%;
    z-index: 1;
    object-fit: cover;
}
.runhr {
    margin-top: 4rem;
    margin-right: 30px;
    margin-left: 30px;
}

.kreainfohr{
    display: none;
}

.kreah2{
    padding-top: 2rem;
}

.kreatext {
    font-size: 1rem;
    text-align: justify;
    line-height: 1.8rem;
    padding-left: 3rem;
    padding-right: 3rem;
}
.kreaimages {
    position: relative;
    width: 275px;
    height: 275px;
}
.smykker{
    border-radius: 34px;
    position: absolute;
    top: -3.67%;
    left: 42%;
    width: 43%;
    height: 81%;
    z-index: 2;
    object-fit: cover;
}

.keramik {
    border-radius: 34px;
    position: absolute;
    top: 30%;
    left: 9%;
    width: 41%;
    height: 67%;
    z-index: 1;
    object-fit: cover;
}
.strik {
    border-radius: 34px;
    position: absolute;
    top: 43%;
    left: 69%;
    width: 66%;
    height: 66%;
    z-index: 3;
    object-fit: cover;
} 
.majhr {
    margin-top: 4rem;
    margin-right: 30px;
    margin-left: 30px;
}
.majh2 {
    padding-top: 2rem;
}
.majtext {
    font-size: 1rem;
    text-align: justify;
    line-height: 1.8rem;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-bottom: 2rem;
}
.majmedia {
    position: relative;
    width: 275px;
    height: 275px;
}
.oel{
    border-radius: 34px;
    position: absolute;
    top: 37.33%;
    left: 81%;
    width: 50%;
    height: 81%;
    z-index: 2;
    object-fit: cover;
}

.majmarked {
    border-radius: 34px;
    position: absolute;
    top: -1%;
    left: 24%;
    width: 103%;
    height: 54%;
    z-index: 3;
    object-fit: cover;
}
.torvvideo {
    border-radius: 34px;
    position: absolute;
    top: 43%;
    left: 4%;
    width: 80%;
    height: 80%;
    z-index: 1;
    object-fit: cover;
}
.footerhr {
    margin-bottom: 2rem;
    margin-top: 8rem;
}
.instagramlogo {
    width: 2rem;
    height: 2rem;
    margin-right: 1rem;

}
.facebooklogo {
    width: 2rem;
    height: 2rem;
}

.logoer{
    display: flex;
    justify-content: center;
}

.footerinfo{
    text-align: center;
    padding-top: 5px;
}
}

@media screen and (min-width: 392px) {
    body {
        background: linear-gradient(135deg, #d0fcff, #ffffff) ;
    }
    
    .forsidelogo {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100px;
        height: 130px;
        margin: auto; /* Centrerer containeren horisontalt */
        padding-bottom: 10px;
    }


/* Skjul checkboxen */
.burger-checkbox {
display: none;
}


.menu ul {
list-style: none;
display: flex;
justify-content: space-between;
}

.menu ul li {
padding: 15px;
}

.menu ul li a {
color: black;
text-decoration: none;
font-size: 1.5rem;
display: block;
}

/* Vis menuen, når checkboxen er markeret */
.burger-checkbox:checked + .burger + .menu {
display: block;
}

h2 {
font-family: playfairdisplay;
font-size: 1.5rem;
}
header {
padding: 30px;
}
hr {
border-color: #da7897;

}

.textevent1{
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: nowrap; 
    width: 50%;
    height: 50%;
    padding-top: 3rem;
}

hr.inforhr{
   padding: 3rem;
   border-color: #da7897;
   margin-left: 2rem;
   width: 91%;
   padding-bottom: 1.5rem;
}

.infotext {
font-size: 1.3rem;
text-align: justify;
line-height: 1.8rem;
padding-left: 3rem;
padding-right: 3rem;
padding-top: 1.5rem;
}

h2 {
text-align: center;
font-size: 1.5rem;
font-family: playfairdisplay;
padding-bottom: 1rem;
}
.runimages {
position: relative;
width: 275px;
height: 275px;
}
.run{
border-radius: 34px;
position: absolute;
top: -74.67%;
left: 374%;
width: 110%;
height: 140%;
z-index: 1;
object-fit: cover;
}

.run2 {
border-radius: 34px;
position: absolute;
top: -15%;
left: 287%;
width: 110%;
height: 140%;
z-index: 2;
object-fit: cover;

}
.runhr {
display: none;
}

.kreah2{
padding-top: 10rem;
padding-left: 37rem;
}

.kreainfohr{
    border-color: #da7897;
    margin-left: 43rem;
    width: 43%;
}

.kreatext {
font-size: 1rem;
text-align: justify;
line-height: 1.8rem;
padding-left: 40rem;
padding-right: 3rem;
}
.kreaimages {
position: relative;
width: 275px;
height: 275px;
}
.smykker{
border-radius: 34px;
position: absolute;
top: -3.67%;
left: 42%;
width: 43%;
height: 81%;
z-index: 2;
object-fit: cover;
}

.keramik {
border-radius: 34px;
position: absolute;
top: 30%;
left: 9%;
width: 41%;
height: 67%;
z-index: 1;
object-fit: cover;
}
.strik {
border-radius: 34px;
position: absolute;
top: 43%;
left: 69%;
width: 66%;
height: 66%;
z-index: 3;
object-fit: cover;
} 
.majhr {
margin-top: 4rem;
margin-right: 30px;
margin-left: 30px;
}
.majh2 {
padding-top: 2rem;
}
.majtext {
font-size: 1rem;
text-align: justify;
line-height: 1.8rem;
padding-left: 3rem;
padding-right: 3rem;
padding-bottom: 2rem;
}
.majmedia {
position: relative;
width: 275px;
height: 275px;
}
.oel{
border-radius: 34px;
position: absolute;
top: 37.33%;
left: 81%;
width: 50%;
height: 81%;
z-index: 2;
object-fit: cover;
}

.majmarked {
border-radius: 34px;
position: absolute;
top: -1%;
left: 24%;
width: 103%;
height: 54%;
z-index: 3;
object-fit: cover;
}
.torvvideo {
border-radius: 34px;
position: absolute;
top: 43%;
left: 4%;
width: 80%;
height: 80%;
z-index: 1;
object-fit: cover;
}
.footerhr {
margin-bottom: 2rem;
margin-top: 8rem;
}
.instagramlogo {
width: 2rem;
height: 2rem;
margin-right: 1rem;

}
.facebooklogo {
width: 2rem;
height: 2rem;
}

.logoer{
display: flex;
justify-content: center;
}

.footerinfo{
text-align: center;
padding-top: 5px;
}
}