* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}


@media screen and (max-width: 480px ) {
        body {
            background: linear-gradient(180deg, #ffff99, #ffffff) ;
        }
        
        .forsidelogo {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 50px;
            height: 60px;
            margin: auto; /* Centrerer containeren horisontalt */
        }

        
        /* Styling af burgerikonet */
        .burger {
            display: flex;
            flex-direction: column;
            cursor: pointer;
            width: 30px; /* Juster bredden, hvis nødvendigt */
        }
        
        .line {
            height: 2px;
            background-color: #da7897; /* Farvekode for linjerne */
            margin: 5px 0;
            border-radius: 2px; /* Giver en rundet kant til linjerne */
            width: 30px;

        }
}