* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
@font-face {
    font-family: playfairdisplay;
    src: url(/fonts/PlayfairDisplay-VariableFont_wght.ttf);
}


@media screen and (max-width: 480px ) {
    * {
        font-family: playfairdisplay;
    }
        body {
            background: linear-gradient(180deg, #ffff99, #ffffff) ;
        }
        
        .forsidelogo {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 50px;
            height: 60px;
            margin: auto; /* Centrerer containeren horisontalt */
            padding-bottom: 10px;
        }
        /* Reset for margin/padding */

/* Skjul checkboxen */
.burger-checkbox {
    display: none;
}

/* Styling af burgerikonet */
.burger {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    margin: 10px;
    align-items: right;
}

.line {
    height: 3px;
    background-color: #da7897; /* Farve på linjerne */
    margin: 5px 0;
    border-radius: 2px; /* Runding af hjørner */
}

/* Styling af menuen */
.menu {
    display: none; /* Skjul menuen som standard */
    background-color: #da7897;
    position: absolute;
    top: 90px; /* Placer menuen nedenfor burgerikonet */
    right: 0;
    width: 100%;
    text-align: left;
    font-family: playfairdisplay;
}

.menu ul {
    list-style: none;
}

.menu ul li {
    padding: 15px;
}

.menu ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    display: block;
}

/* Vis menuen, når checkboxen er markeret */
.burger-checkbox:checked + .burger + .menu {
    display: block;
}

header {
    padding: 30px;
}
hr {
    border-color: #da7897;
    
}

h2 {
    text-align: center;
    font-size: 1.2rem;
    font-family: playfairdisplay;
    padding-bottom: 1rem;
}
.infotext {
    font-size: 1rem;
    text-align: center;
    line-height: 1.8rem;
    padding-left: 3rem;
    padding-right: 3rem;
}
.bowl {
    border-radius: 44px;
    position: absolute;
    top: 1rem;
    left: 15rem;
    width: 65%; /* Får dem til at fylde hele containeren */
    height: 100%;
    z-index: 1;
    
}
.bolle {
    border-radius: 44px;
    position: absolute;
    top: 12rem;
    left: 10rem;
    width: 40%; /* Får dem til at fylde hele containeren */
    height: 60%;
    z-index: 3;
   
}
.avocado {
    border-radius: 44px;
    border-color: #da7897;
    position: absolute;
    top: 1rem;
    right: 5rem ;
    width: 60%; /* Får dem til at fylde hele containeren */
    height: 80%;
    z-index: 2;
}
.imagesfrontmenu {
    position: relative;
    width: 300px;
    height: 300px;

}
.eventsh2{
    padding-top: 5rem;
}
.menubutton {
    background-color: #da7897;
    border-radius: 20px;
    width: 6.5rem;
    padding: 10px 20px;
    top: 21rem;
    left: 20rem;
    z-index: 4;
    position: absolute;
    border: none;
}
.menukortlink {
    text-decoration: none;
    color: black;
    font-family: playfairdisplay;
    font-weight: bold;
}
}