* {
    margin: 0;
    padding: 0;
    
}


@media screen and (max-width: 480px ) {
        body {
            background: linear-gradient(180deg, #ffff99, #ffffff) ;
        }
        
        .forsidelogo {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 50px;
            height: 60px;
            margin: auto; /* Centrerer containeren horisontalt */
        }
    
}